<footer>
  Powered by
  <a href="https://docula.org/" target="_blank" rel="noopener noreferrer"><img
      src="logo_horizontal.png"
      alt="docula logo"
      width="140"
      height="30"
    />
  </a>
</footer>
