<!DOCTYPE html>
<html lang="en">
<head>
  {{> header }}
  <title>{{siteTitle}} - {{title}} </title>
</head>

<body>
  <a class="github-fork-ribbon" href="https://github.com/jaredwray/keyv" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
  <main class="layout">
    {{> multipage/header }}
    {{> multipage/sidebar }}
    {{> multipage/doc }}
  </main>
  {{> footer}}

  {{> scripts }}
  {{> multipage/scripts }}


</body>
</html>