<!DOCTYPE html>
<html lang="en">

<head>
  {{> header }}
  <title>{{siteTitle}} - {{title}}</title>
</head>

<body>
  {{> header-bar }}
  <div class="content">
    <aside class="nav-sidebar" id="nav-sidebar">
      {{> sidebar }}
    </aside>
    <div class="sidebar-backdrop" id="sidebar-backdrop"></div>
    {{> doc }}
  </div>
  {{> scripts }}
</body>

</html>
