<!DOCTYPE html>
<html lang="en">

<head>
  {{> header }}
  <title>{{ siteTitle }}</title>
</head>

<body>
  {{> header-bar }}
  <div class="content">
    {{> home }}
  </div>
  {{> footer }}
  {{> scripts }}
</body>

</html>
