<!DOCTYPE html>
<html lang="en">

<head>
  {{> header }}
  <title>{{siteTitle}} Releases</title>
</head>

<body>
  {{> header-bar }}
  <div class="content">
    <main class="versions-container">
      <div class="versions-content">
        <h2 class="home-title">Releases</h2>
        {{#if github}}
        {{#if github.releases}}
        {{#each github.releases as |release|}}
        <div class="release">
          <div class="release-header">
            <a class="release-title" href="{{release.html_url}}" target="_blank"
              rel="noopener noreferrer">{{release.name}}</a>
            <span class="release-date">{{#moment
              release.published_at "MMMM DD, YYYY"
              }}{{/moment}}
            </span>
          </div>
          <div class="release-body">
            {{#if release.body}}
            {{#markdown}}{{release.body}}{{/markdown}}
            {{/if}}
          </div>
        </div>
        {{/each}}
        {{/if}}
        {{/if}}
      </div>
    </main>
  </div>
  {{> footer }}
  {{> scripts }}
</body>

</html>
