{{#if multipleApiSpecs}}
{{#each allApiSpecs}}
<a href="{{this.href}}" class="home-docs-button">{{this.name}}</a>
{{/each}}
{{else}}
<a href="{{apiUrl}}" class="home-docs-button">API Reference</a>
{{/if}}
