<article class="article">
  <header class="article__header">
    <h1 class="article__title">{{title}}</h1>
    {{#if description}}
    <p class="article__description">{{description}}</p>
    {{/if}}
  </header>
  <div class="article__body">
    <main class="article__main">
      {{{generatedHtml}}}
    </main>
    <aside class="content-aside">
      <h2 class="content-aside__title">TABLE OF CONTENTS</h2>
      <ul class="content-aside__list" id="toc-list">
      </ul>
    </aside>
  </div>
  {{#if editPageDocUrl}}
  <a class="article__edit-link" href="{{editPageDocUrl}}" target="_blank" rel="noopener noreferrer">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"/><path d="m15 5 4 4"/></svg>
    Edit this page
  </a>
  {{/if}}
</article>
