<!DOCTYPE html>
<html lang="en">
{% include "layout/head.njk" %}
<body>
<div class="layout">
    {% include "layout/header.njk" %}
    {% include "layout/sidebar.njk" %}
    {% include "layout/main.njk" %}
    {% include "layout/search.njk" %}
</div>

<script>
  const sidebar = document.querySelector('#sidebar');
  const closeBtn = document.querySelector('#close-sidebar');
  const openBtn = document.querySelector('#open-sidebar');
  const header = document.querySelector('#header');
  const onPage = document.querySelector('#on-page');
  const searchBtn = document.querySelector('#search-btn');
  const searchModal = document.querySelector('#search-modal');
  const searchModalContainer = document.querySelector('#search-container');
  const searchContent = document.querySelector('#search-content');
  const closeModalBtn = document.querySelector('#close-modal-btn');

  closeBtn.addEventListener('click', () => {
    sidebar.classList.add('hidden');
    header.classList.remove('bottom');
  });

  openBtn.addEventListener('click', () => {
    header.classList.add('bottom');
    sidebar.classList.remove('hidden');
  });
  //scroll listener
  window.addEventListener('scroll', () => {
    if (window.scrollY > 0 && window.innerWidth > 1428) {
      onPage.classList.remove('hidden');
    } else {
      onPage.classList.add('hidden');
    }
  });

  //search
  searchBtn.addEventListener('click', () => {
    searchModal.classList.add('show-modal');
  });

  searchModal.addEventListener('click', (e) => {
    if(window.innerWidth > 991) {
      if (searchModalContainer === e.target || searchModalContainer.contains(e.target)) return;
      searchModal.classList.remove('show-modal');
    }
  });

  closeModalBtn.addEventListener('click', () => {
    searchModal.classList.remove('show-modal');
  });

  searchContent.addEventListener('click', () => {
    if(window.innerWidth < 992) {
      searchModal.classList.remove('show-modal');
    }
  });

</script>

<script src="/css/highlight/highlight.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    hljs.highlightAll()
  });
</script>

{% include "search/algolia.njk" %}

</body>
</html>
