:root {
  --font-family: 'Open Sans', sans-serif;

  --color-primary:  #322d3c;
  --color-secondary: #8cdc00;
  --color-secondary-dark: #8cdc00;
  --color-text: #322d3c;

  --background: #ffffff;
  --home-background: #ffffff;
  --header-background: #ffffff;

  --sidebar-background: #ffffff;
  --sidebar-text: #322d3c;
  --sidebar-text-active: var(--color-secondary);

  --border: rgba(238,238,245,1);

  --code: rgba(238,238,245,1);

}
