<!DOCTYPE html>
<html lang="en">
{% include "shared/head.njk" %}

<body>
  {% include "landing/landingHero.njk" %}

   <article class="home-container">
     <h1>{{title}}</h1>
     <div class="content">
     {{ content | safe }}
     </div>
   </article>

  {% include "shared/homeData.njk" %}

  {% include "shared/footer.njk" %}

  {% include "shared/highlightScript.njk" %}


</body>
</html>

