/* Home */
.home-hero {
  padding: 3.5rem 0 4.5rem;
}

.home-container {
  margin: 2rem 2rem 3rem;
}

.home-container h1 {
  font-weight: 500;
  font-size: 1.75rem;
}

.home-docs-button {
  padding: 12px 1.5rem;
  border: 2px solid var(--color-secondary-dark);
  border-radius: 0.5rem;
  color: var(--color-secondary-dark);
  font-weight: 600;
}



/* Docs */
.nav {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--border);
  z-index: 3;
  white-space: nowrap;
  flex-grow: 1;
}

.nav-list {
  padding-left: 0;
}

.nav-list li {
  margin-top: 1.5rem;
  color: var(--sidebar-text);
  list-style: none;
}

.nav-list .active {
  color: var(--sidebar-text-active);
}

.icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-btn {
  margin-right: 22px;
}

.menu-btn svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.menu-btn span {
  text-transform: uppercase;
  font-size: 10px;
  vertical-align: super;
  color: var(--color-text);
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-logo {
  flex-shrink: 0;
  margin-right: 1.5rem;
  display: block;
}

.header-logo img {
  width: 3rem;
  height: 3rem;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

details > summary {
  cursor: pointer;
  list-style: none;
}

.child-list {
  padding-left: 18px;
}

.child-list li {
  color: var(--sidebar-text);
  opacity: 0.8;
}

.sidebar {
  background: var(--sidebar-background);
  z-index: 4;
  width: 100%;
  top: 0;
  height: 100vh;
  flex-direction: column;
  flex-shrink: 0;
  position: fixed;
  font-family: var(--font-family);
  border-right: 1px solid var(--border);
}

.sidebar-container {
  overflow-y: auto;
  width: inherit;
  flex-grow: 1;
  position: relative;
}

.sidebar-content {
  padding: 3rem 2.5rem 1.5rem;
  overflow-y: auto;
  font-size: 14px;
  height: 90vh;
}

.sidebar-logo {
  display: none;
}

.close-btn {
  transition: all .2s ease-out;
  color: var(--sidebar-text);
  margin-top: 3rem;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 2.5rem;
}

.close-btn svg {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
  margin-right: 1rem;
}

.main-container {
  width: 100%;
  overflow-x: hidden;
  padding-top: 100px;
}

.main-content {
  padding: 0 1.5rem;
  display: flex;
}

.breadcrumb {
  line-height: 1rem;
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 600;
}

.sidebar-footer {
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  border-top: 1px solid var(--border);
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  background-color: var(--sidebar-background);
  width: 100%;
}

.sidebar-footer a {
  font-size: 12px;
  color: var(--sidebar-text);
}

.sidebar-footer a:first-child {
  margin-right: 2rem
}

.on-page-container {
  padding-top: 28px;
  padding-bottom: 28px;
}

.on-page-container h5 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
  font-size: 10px;
  font-weight: 600;
  color: var(--color-secondary);
}

.on-page-container .toc {
  list-style: none;
  line-height: 1.5rem;
  padding-left: 0;
  width: 100%;
  font-size: 14px;
}

.on-page-container ol {
  padding-left: 0;
  list-style: none;
  width: 100%;
}

.on-page-container ol > li {
  display: flex;
  align-items: baseline;
  position: relative;
}

.on-page-container ol > li > a {
  transition: all .2s ease-out;
  color: var(--color-secondary);
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
}

.on-page-container ol > li:hover > a {
  transform: translateX(4px);
}

.on-page-main ol > li > a::after {
  position: absolute;
  right: 0;
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-right: 1px solid var(--color-secondary);
  border-bottom: 1px solid var(--color-secondary);
  transform: rotate(-45deg);
}

.on-page-list {
  margin-left: 8px;
  font-size: 12px;
}

@media screen and (min-width: 576px) {
  .date {
    display: flex;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--color-secondary);
    font-size: 10px;
    font-weight: 600;
  }

  .date span::before {
    position: absolute;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg class='block h-full' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cpath d='M11 22A11 11 0 1 1 22 11 11 11 0 0 1 11 22ZM11 2a9 9 0 1 0 9 9A9 9 0 0 0 11 2Z'%3E%3C/path%3E%3Cpath d='M15 14a.93.93 0 0 1-.45-.11l-4-2A1 1 0 0 1 10 11V5a1 1 0 0 1 2 0v5.38l3.45 1.73a1 1 0 0 1 .44 1.34A1 1 0 0 1 15 14Z'%3E%3C/path%3E%3C/svg%3E");
    left: -1.5rem;
    width: 12px;
    height: 12px;
  }

  .nav {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


@media screen and (min-width: 640px) {
  .home-container {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .home-hero {
    padding: 4rem 0 4.5rem;
  }
}

@media screen and (min-width: 768px) {
  .home-hero {
    padding: 4.5rem 0;
  }

  .main-content {
    padding: 0 56px 1.5rem;
  }
  .main-container {
    padding-top: 120px;
  }
  .nav {
    padding-left: 56px;
    padding-right: 56px;
  }
}

@media screen and (min-width: 992px) {
  .home-container {
    margin: 4.5rem auto 3.5rem;
  }
  .home-hero {
    padding: 7.5rem 0;
  }
  .home-hero img {
    max-width: 450px;
  }
  .home-container h1 {
    font-size: 2rem;
  }
  .home-docs-button {
    font-size: 1.5rem;
  }


  .nav {
    width: 100%;
    justify-content: space-between;
    height: auto;
    box-shadow: none;
    padding-right: 1rem;
    z-index: 30;
  }
  .sidebar {
    width: 324px;
    display: flex;
    height: 100%;
    z-index: 20;
  }
  .close-btn {
    display: none;
  }
  .sidebar-content {
    padding-top: 1.5rem;
    height: 100%;
  }
  .nav-list {
    margin-top: 0;
  }
  .main-container {
    margin-top: 3rem;
    padding-top: 0;
  }
  .header-link {
    margin-top: 20px;
  }
  .header-link img {
    width: 180px;
  }
  .layout {
    display: grid;
    grid-template-columns: 324px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
  }
  aside {
    grid-area: 1 / 1 / 4 / 2;
    position: fixed;
    top: 200px;
    left: 0;
    z-index: 40;
    height: 100%;
    width: 324px;
  }
  .main-container {
    grid-area: 1 / 2 / 4 / 3;
  }
  .sidebar-logo {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 80;
    width: 324px;
    background-color: var(--sidebar-background);
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--border);
  }
  .sidebar-logo svg {
    width: 2rem;
    height: 2rem;
  }
  .header-content {
    display: flex;
    height: 100%;
  }
  .nav {
    justify-content: flex-start;
    padding-left: 3.5rem;
    z-index: 30;
  }
  .nav-list {
    padding-left: 0;
  }
  .on-page--desktop ~ .on-page-list {
    margin-left: 0;
  }
  .sidebar-footer {
    position: sticky;
  }
}

@media screen and (min-width: 1458px) {
  .on-page--desktop ol {
    font-size: 12px;
  }

  .on-page--desktop ol li a {
    padding: 4px 0;
  }
  .on-page--desktop {
    width: 100%;
    position: relative;
    transition: all .3s ease-in;
    display: flex;
    justify-content: flex-end;
  }
  .on-page-fixed {
    position: fixed;
    max-width: 200px
  }
  .main-content {
    padding: 0 56px 24px;
  }
}

@media screen and (min-width: 1600px) {
  .layout {
    grid-template-columns: 380px 1fr;
  }
  .sidebar, aside, .sidebar-logo  {
    width: 380px;
  }
  .sidebar-logo, .sidebar-content, .sidebar-footer {
    padding-left: 54px;
    padding-right: 54px;
  }
  .main-content {
    padding-left: 72px;
    padding-right: 72px;
  }
  .on-page--desktop {
    justify-content: center;
  }
}

@media screen and (min-width: 1800px) {
  .layout {
    grid-template-columns: 460px 1fr;
  }
  .sidebar, aside, .sidebar-logo  {
    width: 460px;
  }
  .sidebar-logo, .sidebar-content, .sidebar-footer {
    padding-left: 88px;
    padding-right: 88px;
  }
}


@media screen and (min-width: 2400px) {
  .layout {
    grid-template-columns: 600px 1fr;
  }
  .sidebar, aside, .sidebar-logo  {
    width: 600px;
  }
  .sidebar-logo, .sidebar-content, .sidebar-footer {
    padding-left: 120px;
    padding-right: 120px;
  }
}
