<div class="main-container">
  <div class="main-content">
    <article class="content">
      <h1>{{title}}</h1>
      <div class="toc main-toc">
{{tableOfContents}}
      </div>
{{generatedHtml}}
    </article>
    <div class="fixed-toc-container">
      <div class="toc fixed-toc" id="fixed-toc">
        {{tableOfContents}}
      </div>
    </div>
    </div>

</div>