<section class="home-hero">
  <img src="/logo.svg" alt="logo"/>
  <div class="home-container">
    <h1>{{ siteDescription }}</h1>
  </div>
  <a href="/docs" class="home-docs-button">Documentation</a>
</section>