<div class="search-modal" id="search-modal">
    <div class="search-content">
        <div id="searchbox" class="search-box"></div>
        <div class="search-results">
            <div id="hits" class="search-matches"></div>
        </div>
    </div>
</div>
