<div class="main-container">
        <main class="main-content">
                <div class="content">
                        <h1>What is Algolia?</h1>
                        <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>
                </div>
        </main>
</div>
