<div class="main-container">
        <div class="main-content">
                <article class="content">
                        <div class="items-start">
                                <div class="breadcrumb">
                                     Guides/Getting Started
                                </div>
                                <div class="date hidden">
                                        <span>Jun 24, 2021</span>
                                </div>

                        </div>
                        <h1>What is Algolia?</h1>

                        <!--   on this page start  -->
                        <div class="on-page-container">
                             <h5>On this page</h5>
                                <ul>
                                    <li><a class="on-page-link" href="#"><div>1.<span class="on-page-list">What does Algolia do?</span></div><span class="right-chevron"></span></a> </li>
                                    <li><a class="on-page-link" href="#"><div>2.<span class="on-page-list">What does Algolia do?</span></div><span class="right-chevron"></span></a> </li>
                                    <li><a class="on-page-link" href="#"><div>3.<span class="on-page-list">What does Algolia do?</span></div><span class="right-chevron"></span></a> </li>
                                    <li><a class="on-page-link" href="#"><div>4.<span class="on-page-list">What does Algolia do?</span></div><span class="right-chevron"></span></a> </li>

                                </ul>

                        </div>

                        <!--   on this page end  -->

                        <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>

                        <h2>What does ALgolia do?</h2>
                        <p>Algolia consists of two parts: search implementation and search analytics. The implementation tools make it easier for your developers to create and maintain great search experiences for your users. The analytics tools enable your business teams to analyze the impact of those experiences and refine them, so they can directly address your evolving business objectives.</p>



                        <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>                <div>
                                <p>Your users almost certainly use at least one of YouTube, Amazon, and Facebook. An essential feature that these big websites share is great search. The reason they have great search is because they have hundreds or thousands of people working on it full-time.</p>

                                <p>Because your users are constantly exposed to great search on these platforms, they expect to find it on every site and application that they use. But your company isn’t a search company: <strong>it doesn’t make sense for you to hire a dedicated team of developers to reinvent search.</strong></p>

                                <p>Algolia provides software and tools to help you implement <strong>efficient, flexible, and insightful search on your sites and applications.</strong></p>

                        </div>
                </article>

                <div class="on-page-container on-page--desktop hidden" id="on-page">
                        <div class="on-page-fixed">
                                <h5>On this page</h5>
                                <ul>
                                        <li><a class="on-page-link" href="#"><span class="on-page-list">What does Algolia do?</span></a></li>
                                        <li><a class="on-page-link" href="#"><span class="on-page-list">What does Algolia do?</span></a></li>
                                        <li><a class="on-page-link" href="#"><span class="on-page-list">What does Algolia do?</span></a></li>
                                        <li><a class="on-page-link" href="#"><span class="on-page-list">What does Algolia do?</span></a></li>
                                </ul>
                        </div>
                </div>
        </div>
</div>
