<aside id="sidebar" class="hidden fixed">
 <div class="sidebar-top--desktop"></div>
 <div class="sidebar-container">
  <div class="sidebar-content">
   <button class="close-btn icon" id="close-sidebar">
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
    <span>Close</span>
   </button>
   <ul class="nav-list">
    <li><a href="#">Home</a></li>
    <li><a href="#">API Reference</a></li>
    <li><a href="#">Integrations</a></li>
    <li><a href="#">Getting started</a></li>
    <li><a href="#">A/B testing</a></li>
    <li><a href="#">Personalization</a></li>
    <li><a href="#">Scaling</a></li>
    <li><a href="#">Security</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Solutions</a></li>
   </ul>
  </div>
 </div>
</aside>
