<div class="main-container">
  <div class="main-content">
    <article class="content">
      <h1>{{title}}</h1>
{{generatedHtml}}
      {{#if editPageDocUrl}}
      <a class="edit-page-link" href="{{editPageDocUrl}}" target="_blank" rel="noopener noreferrer">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"/><path d="m15 5 4 4"/></svg>
        Edit this page
      </a>
      {{/if}}
    </article>
    <div class="fixed-toc-container">
      <div class="toc fixed-toc" id="fixed-toc">
      </div>
    </div>
    </div>

</div>
<script>
  const tocHeading = document.getElementById('table-of-contents');
  if (tocHeading) {
    const tocList = tocHeading.nextElementSibling;
    const fixedToc = document.getElementById('fixed-toc');
    if (tocList && tocList.tagName === 'UL' && fixedToc) {
      fixedToc.innerHTML = tocList.outerHTML;
    }
  }
</script>
