<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="layout">
      {% include "header.njk" %}
      {% include "sidebar.njk" %}
      {% include "main.njk" %}
    </div>

<script>
    const sidebar = document.querySelector('#sidebar');
    const closeBtn = document.querySelector('#close-sidebar');
    const openBtn = document.querySelector('#open-sidebar');
    const header = document.querySelector('#header');

    closeBtn.addEventListener('click', () => {
        sidebar.classList.add('hidden');
        header.classList.remove('bottom');
    });

    openBtn.addEventListener('click', () => {
        header.classList.add('bottom');
        sidebar.classList.remove('hidden');
    });
</script>
</body>
</html>
