<!DOCTYPE html>
<html lang="en">
{% include "shared/head.njk" %}
<body>
<div class="layout">
    {% include "shared/header.njk" %}
    {% include "shared/sidebar.njk" %}
    {% include "shared/main.njk" %}
    {% include "shared/search.njk" %}
</div>

{% include "shared/scripts.njk" %}

{% include "search/algolia.njk" %}

</body>
</html>
