name: code-coverage

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: write

env:
  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 24

    - name: Install Dependencies
      run: npm install pnpm -g && pnpm install

    - name: Build    
      run: pnpm build

    - name: Testing    
      run: pnpm test:ci
      
    - name: Code Coverage
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_KEY }}
        files: ./coverage/lcov.info

